:root {
	--font: 'DM Mono';
	--pad: 16px;
	--txt-pad: 10px;

	--bg-0: oklch(18% 0 0);
	--bg-1: oklch(22% 0 0);
	--bg-2: oklch(26% 0 0);
	--bg-3: oklch(30% 0 0);

	--hover: oklch(54% 0 0 / 0.1);
	--active: oklch(54% 0 0 / 0.2);
	--selected: var(--active);

	--txt-dark: var(--bg-0);
	--txt-0: oklch(90% 0 0);
	--txt-1: oklch(80% 0 0);
	--txt-2: oklch(60% 0 0);
	--txt-3: oklch(40% 0 0);

	--txt-link: oklch(76% 0.12 200);

	--mention-txt: var(--purple);
	--mention-bg: color-mix(in srgb, var(--purple), transparent 90%);
	--mention-overlay: color-mix(in srgb, var(--purple), transparent 90%);
	--mention-hover-overlay: color-mix(in srgb, var(--purple), transparent 95%);
	--reply-overlay: var(--active);
	--reply-hover-overlay: var(--hover);

	--pink: oklch(73% 0.12 0);
	--pink-1: oklch(66% 0.12 0);
	--yellow: oklch(73% 0.12 90);
	--green: oklch(73% 0.12 160);
	--purple: oklch(73% 0.12 300);
	--purple-1: oklch(66% 0.12 300);
	--purple-2: oklch(59% 0.12 300);

	--online-dot: var(--green);
	--dnd-dot: var(--pink);
	--idle-dot: var(--yellow);
}

:root {
	--font-primary: var(--font), 'gg mono', monospace;
	--font-display: var(--font), 'gg mono', monospace;
	--font-code: var(--font), 'gg mono', monospace;
	letter-spacing: -0.05ch;
	font-weight: 300;
}

/* colors */
/* remove bg */
[class^=sidebar_]  /* channel list */,
#app-mount [class^=sidebar_] > [class^=container__] /* channel list inner */,
[class^=privateChannels__] /* dms list */,
[class^=privateChannels__] > [class^=scroller__] /* dms list inner */,
[class^=attachedBars_], [class^=replyBar_], [class^=threadSuggestionBar__] /* reply, thread, atttachment bars above chat bar */,
[class^=panels__] /* user panel */,
#app-mount #vc-spotify-player,
[class^=panels__] > [class^=container_],
[class^=chat__] > [class^=content__] > [class^=container_] /* member list */,
[class^=members__] /* member list inner */,
[class^=member_] /* member containers */,
[class^=searchResultsWrap__] /* search results */,
[class^=wrapper_] > [class^=container_] {
	background: none;
}
/* fix bg */
[class^='folderIconWrapper__'][style='background-color: rgba(88, 101, 242, 0.4);'] {
	background-color: var(--bg-1) !important;
}
/* fix white-500 */
[class*=lookFilled__][class*=colorPrimary_],
#app-mount [class*=lookLink_][class*=colorPrimary_],
[class*=buttonColor_],
#app-mount [class^=headerContent__],
#app-mount [class*=tooltipGrey__],
#app-mount [class^=wrapperAudio__],
[class^=friendRequestsButton__] [class^=numberBadge_][class*=base_] /* inbox friend requests number */,
[class^=searchAnswer__],
[class^=searchFilter_],
#app-mount [class^=partyStatus__] [class^=anchor_] /* spotify listen along link */,
#app-mount [class^=partyStatus__] /* spotify listen along text */ {
	color: var(--txt-1);
}
.color_b28e35,
[class^=jumpToPresentBar__] > button,
[class^=gifFavoriteButton_], 
[class^=bar_] /* new unread bar */,
.icon__09787 /* new thread icon */,
[class^=centerContent__] > [class^=wrapper_] /* video embed play button */,
[class^=iconWrapper__] /* video play button */,
.wrapper_f09ac7 /* video controls */,
.custom-profile-theme [class*=color__][class*=text__] /* message button in custom profiles */ {
	color: var(--txt-0);
}
#app-mount [class^=centerContent__] [class^=anchor_] /* video embed external button */ {
	color: var(--txt-0) !important;
}
[role='button'] path[fill='var(--white-500)'],
#app-mount button path[fill='var(--white-500)'] {
	fill: var(--txt-0);
}
/* status dots */
rect[fill='#23a55a'] {
	fill: var(--online-dot);
}
rect[fill='#f23f43'] {
	fill: var(--dnd-dot);
}
rect[fill='#f0b232'] {
	fill: var(--idle-dot);
}
/* accents */
[class^='expandedFolderIconWrapper__'] > svg {
	color: var(--purple) !important;
}
[style="opacity: 1; background-color: rgb(35, 165, 90);"] /* settings checkbuttons */ {
	background-color: var(--green) !important;
}
svg[class^=slider__] > rect[fill="white"] /* settings checkbuttons slider */ {
	fill: var(--txt-dark);
}
[class*=replying__]::before /* reply message left bar */ {
	background: var(--txt-1);
}
[class*=mentioned_]::before /* mention message left bar */ {
	background: var(--purple);
}

/* add spacing */
.content__76dcf /* outside edges */ {
	margin: var(--pad) var(--pad) var(--pad) 0;
}
[class*=guilds__] /* outside edges */ {
	margin: var(--pad) 0 var(--pad) var(--pad);
}
.container_d1f8f5 /* server list and everything else */,
[class^=sidebar_] /* channel list and user panel */,
.content__01e65 /* between chat and member list */,
.container_bd15da /* friend page */,
.tabBody_a90ea8 /* friends page inner */,
.container__694a1 /* forum post header and chat */,
[class^=chat__] /* header bar and chat */,
.container__6113a /* new thread header and chat */ {
	gap: var(--pad);
}
[class^=sidebar_] /* channel list and chat */ {
	margin-right: var(--pad);
}
[class^='sidebar_'].hidden__3ab58 {
	margin-right: 0;
}
[class^=resizeHandle_] /* pretend to be a margin */ {
	width: var(--pad);
}
.wrapper__6bf2d.fullScreen_b3f0af .callContainer__1477d /* fullscreen vc */ {
	margin-top: var(--pad);
}

/* borders */
.panels__58331 /* user panel */,
.container__7e23c /* channel list */,
.messagesWrapper_add28b /* chat */,
.members__573eb /* member list */,
.guilds__2b93a /* server list */,
.privateChannels__9b518 /* dm list */,
.container__26baa /* header bar */,
.peopleColumn__0c784 /* friends page list */,
.nowPlayingColumn_b025fe /* now playing column */,
.channelTextArea_c2094b /* chat bar */,
.channelTextArea_cb604a /* new thread chat bar */,
.container_b92032 /* forum */,
.profilePanel_e2cafe /* dm profile panel */,
.searchResultsWrap__2e184 /* search results */,
.scroller_b6c35f /* new thread */ {
	border: 2px solid var(--bg-3);
}
.container_f79ab4 .membersWrap__5ca6b {
	flex: 1;
}
[class^='numberBadge_'] {
	letter-spacing: -0.1ch;
	font-size: 11px;
}
[class^='lowerBadge_'] > [class^='numberBadge_'] {
	transform: translate(3px, 3px);
	border: 3px solid var(--bg-1);
	border-bottom: none;
	border-right: none;
	width: 19px !important;
	height: 19px !important;
}
[class^='upperBadge__'] > [class^='iconBadge__'] {
	transform: translate(3px, -3px);
	border: 3px solid var(--bg-1);
	border-top: none;
	border-right: none;
	width: 19px !important;
	height: 19px !important;
	color: var(--txt-1);
}
[class^='upperBadge__']
	> [class^='iconBadge__'][class*='isCurrentUserConnected__'] {
	color: var(--txt-dark);
}

/* adjust divider/border thickness */
#app-mount [class^='divider__'],
.container_bc43c1:after,
[class^='peopleListItem_'],
#vc-spotify-player,
[class^='wrapper_'] > [class^='container_'] {
	border-width: 2px;
}
#app-mount [class^='divider__'] {
	margin-bottom: -2px;
}
[class^='sectionDivider__'] {
	border-bottom: 2px solid var(--bg-3);
	height: 0px;
}

/* fix existing borders */
.scroller__7c25e /* friend activity left border */ {
	border: none;
}

#app-mount [class^=sidebar_] /* fix channel list radius cutoff */ {
	border-radius: 0;
}

/* move chat bar out */
:root {
	--custom-channel-textarea-text-area-height: 53px;
}
.form_d8a4a1 {
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 0;
}
.form_d8a4a1:after,
.form_d8a4a1:before {
	display: none !important;
}
.channelTextAreaContainer__37a67 {
	margin-top: var(--pad);
}
.channelTextArea_c2094b,
.channelTextArea_cb604a {
	margin: 0;
	border-radius: 0;
	box-sizing: border-box;
}
.typing__6fd1d {
	background: var(--bg-0);
	order: -1;
	position: static;
}
.chatContent_f087cb:has(.typing__6fd1d) .messagesWrapper_add28b {
	border-bottom: none;
}
.typing__6fd1d {
	border: 2px solid var(--bg-3);
	border-top: none;
}
.clipContainer_ab9cf6 {
	margin-top: 0;
}
.textArea_a86690 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.attachButton__56f98 {
	height: var(--custom-channel-textarea-text-area-height);
}

/* fix heights */
.container__26baa {
	height: 53px;
}

/* add text */
.container__7e23c::after,
.container__26baa::after,
.messagesWrapper_add28b::after,
.panels__58331::after,
.channelTextArea_c2094b::after,
.channelTextArea_cb604a::after,
.guilds__2b93a::after,
.membersWrap__5ca6b::after,
.privateChannels__9b518::after,
.container_b92032::after,
.profilePanel_e2cafe::after,
.searchResultsWrap__2e184::after,
.scroller_b6c35f::after,
.peopleColumn__0c784::after,
.nowPlayingColumn_b025fe::after {
	display: block;
	color: var(--txt-3);
	font-weight: 500;
	position: absolute;
	top: -10px;
	left: 8px;
	background-color: var(--bg-0);
	padding: 0 4px;
	z-index: 100;
}
.container__7e23c::after {
	content: 'server';
}
.container__26baa::after {
	content: 'channel';
}
.messagesWrapper_add28b::after,
.scroller_b6c35f::after {
	content: 'messages';
}
.panels__58331::after {
	content: 'user';
}
.channelTextArea_c2094b::after,
.channelTextArea_cb604a::after {
	content: 'input';
}
.guilds__2b93a::after {
	content: 'nav';
}
.membersWrap__5ca6b::after {
	content: 'members';
}
.privateChannels__9b518::after {
	content: 'dms';
}
.container_b92032::after {
	content: 'forum';
}
.profilePanel_e2cafe::after {
	content: 'profile';
}
.searchResultsWrap__2e184::after {
	content: 'search';
}
.peopleColumn__0c784::after {
	content: 'friends';
}
.nowPlayingColumn_b025fe::after {
	content: 'activity';
}

/* fix more shit */
#app-mount [class^=sidebar_],
.chat__52833,
.wrapper__216eb,
.privateChannels__9b518,
.container__694a1,
.container_bd15da /* friends page header */,
.searchResultsWrap__2e184,
.peopleColumn__0c784 /* friends page */ ,
.tabBody_a90ea8 /* friends page outer */ {
	overflow: visible;
}
.scroller_b6c35f /* new thread messages box */ {
	overflow: visible !important;
}
.privateChannels__9b518 {
	min-height: 0;
}
.container_bd15da /* friends header */ {
	min-width: 0;
}
.scroller_e412fe,
.newMessagesBar__8b272 {
	top: var(--txt-pad);
}
.animatedContainer__0e828 /* server banner */ {
	top: var(--txt-pad);
	left: var(--txt-pad);
	width: calc(100% - 2 * var(--txt-pad));
}
ul[class^='content__'] > div[style='height: 84px;'] {
	margin-top: var(--txt-pad);
}
#vc-spotify-player {
	padding: var(--txt-pad) var(--txt-pad) calc(var(--txt-pad) / 2)
		var(--txt-pad);
}
.membersWrap__5ca6b::after {
	top: -8px;
}
.panels__58331,
.nowPlayingColumn_b025fe {
	position: relative;
}
.platform-win .scroller_de945b,
.platform-osx .scroller_de945b {
	padding-top: var(--txt-pad);
}
.profilePanel_e2cafe .bannerSVGWrapper__8a38c {
	margin: var(--txt-pad);
	min-width: calc(340px - 2 * var(--txt-pad)) !important;
	width: calc(100% - 2 * var(--txt-pad));
}

/* wordmark */
.wordmarkWindows_ffbc5e > svg {
	display: none;
}
.wordmarkWindows_ffbc5e::after {
	content: 'discord';
	display: block;
	position: relative;
	color: var(--txt-2);
	margin-left: 6px;
	width: 100px;
	height: 12px;
	font-family: var(--font);
	font-size: 16px;
	font-weight: 500;
}

/* vencord spotify progress bar */
#vc-spotify-player {
	--vc-spotify-green: var(--green);
}
#vc-spotify-progress-bar {
	margin-bottom: 0.6em;
}
#vc-spotify-progress-bar [class^='bar_'] {
	height: 20px;
	border-radius: 0;
	background: var(--bg-1);
}
.vc-spotify-time-left,
.vc-spotify-time-right {
	z-index: 1;
	top: 4px;
	mix-blend-mode: difference;
	font-size: 14px;
}
.vc-spotify-time-left {
	left: 6px;
}
.vc-spotify-time-right {
	right: 6px;
}
.grabber_e3daf3 {
	visibility: hidden;
}

/* the unrounding */
::-webkit-scrollbar-thumb,
* {
	border-radius: 0 !important;
}
.wrapperSimple__9e2b0,
[class^='avatar__'] {
	border-radius: 50% !important;
}
/* complete unrounding  
.svg__34dd4 > mask {
	display: none;
}
[class^=avatar__] svg[class^=mask_] foreignObject {
	mask: none;
} */
.childWrapperNoHoverBg_bc176a {
	background-color: var(--bg-1);
}

.theme-dark {
	--action-sheet-gradient-bg: var(--primary-630);
	--activity-card-background: var(--primary-700);
	--activity-card-icon-overlay: hsl(223 calc(1 * 6.7%) 20.6% / 0.85);
	--alert-bg: var(--primary-600);
	--android-navigation-bar-background: var(--primary-830);
	--android-navigation-scrim-background: hsl(240 calc(1 * 4%) 4.9% / 0.5);
	--android-ripple: hsl(0 calc(1 * 0%) 100% / 0.07);
	--autocomplete-bg: var(--primary-630);
	--background-accent: var(--bg-1);
	--background-floating: var(--primary-800);
	--background-mentioned: var(--mention-overlay);
	--background-mentioned-hover: var(--mention-hover-overlay);
	--background-message-automod: hsl(359 calc(1 * 87.3%) 59.8% / 0.05);
	--background-message-automod-hover: hsl(359 calc(1 * 87.3%) 59.8% / 0.1);
	--background-message-highlight: var(--reply-overlay);
	--background-message-highlight-hover: var(--reply-hover-overlay);
	--brand-experiment-10a: var(--background-message-highlight-hover);
	--background-message-hover: hsl(0 calc(1 * 0%) 0.8% / 0.06);
	--background-mobile-primary: var(--primary-600);
	--background-mobile-secondary: var(--primary-630);
	--background-modifier-accent: var(--bg-3);
	--background-modifier-accent-2: hsl(228 calc(1 * 6%) 32.5% / 0.48);
	--background-modifier-active: var(--active);
	--background-modifier-hover: var(--hover);
	--background-modifier-selected: var(--selected);
	--background-nested-floating: var(--primary-630);
	--background-primary: var(--bg-0);
	--background-secondary: var(--bg-1);
	--background-secondary-alt: var(--bg-1);
	--background-tertiary: var(--bg-0);
	--bg-backdrop: hsl(0 calc(1 * 0%) 0% / 0.7);
	--bg-backdrop-no-opacity: var(--black-500);
	--bg-base-primary: var(--primary-600);
	--bg-base-secondary: var(--primary-630);
	--bg-base-tertiary: var(--primary-660);
	--bg-brand: var(--brand-500);
	--bg-mod-faint: var(--bg-1);
	--bg-mod-strong: hsl(228 calc(1 * 6%) 32.5% / 0.54);
	--bg-mod-subtle: hsl(228 calc(1 * 6%) 32.5% / 0.48);
	--bg-surface-overlay: var(--primary-800);
	--bg-surface-overlay-tmp: var(--primary-800);
	--bg-surface-raised: var(--primary-600);
	--black: var(--black-500);
	--blur-fallback: hsl(225 calc(1 * 6.3%) 12.5% / 0.96);
	--blur-fallback-pressed: hsl(225 calc(1 * 7.1%) 11% / 0.96);
	--border-faint: hsl(0 calc(1 * 0%) 100% / 0.03);
	--border-strong: hsl(0 calc(1 * 0%) 100% / 0.16);
	--border-subtle: hsl(0 calc(1 * 0%) 100% / 0.08);
	--bug-reporter-modal-submitting-background: hsl(
		220 calc(1 * 8.1%) 7.3% / 0.6
	);
	--button-creator-revenue-background: var(--teal-430);
	--button-danger-background: var(--red-430);
	--button-danger-background-active: var(--red-530);
	--button-danger-background-disabled: var(--red-430);
	--button-danger-background-hover: var(--red-500);
	--button-outline-brand-background: hsl(0 calc(1 * 0%) 100% / 0);
	--button-outline-brand-background-active: var(--brand-560);
	--button-outline-brand-background-hover: var(--brand-500);
	--button-outline-brand-border: var(--brand-500);
	--button-outline-brand-border-active: var(--brand-560);
	--button-outline-brand-border-hover: var(--brand-500);
	--button-outline-brand-text: var(--txt-1);
	--button-outline-brand-text-active: var(--txt-1);
	--button-outline-brand-text-hover: var(--txt-1);
	--button-outline-danger-background: hsl(0 calc(1 * 0%) 100% / 0);
	--button-outline-danger-background-active: var(--red-460);
	--button-outline-danger-background-hover: var(--red-430);
	--button-outline-danger-border: var(--red-400);
	--button-outline-danger-border-active: var(--red-430);
	--button-outline-danger-border-hover: var(--red-430);
	--button-outline-danger-text: var(--txt-1);
	--button-outline-danger-text-active: var(--txt-1);
	--button-outline-danger-text-hover: var(--txt-1);
	--button-outline-positive-background: hsl(0 calc(1 * 0%) 100% / 0);
	--button-outline-positive-background-active: var(--green-530);
	--button-outline-positive-background-hover: var(--green-430);
	--button-outline-positive-border: var(--green-360);
	--button-outline-positive-border-active: var(--green-530);
	--button-outline-positive-border-hover: var(--green-430);
	--button-outline-positive-text: var(--txt-1);
	--button-outline-positive-text-active: var(--txt-1);
	--button-outline-positive-text-hover: var(--txt-1);
	--button-outline-primary-background: hsl(0 calc(1 * 0%) 100% / 0);
	--button-outline-primary-background-active: var(--primary-430);
	--button-outline-primary-background-hover: var(--primary-500);
	--button-outline-primary-border: var(--primary-500);
	--button-outline-primary-border-active: var(--primary-430);
	--button-outline-primary-border-hover: var(--primary-500);
	--button-outline-primary-text: var(--txt-1);
	--button-outline-primary-text-active: var(--txt-1);
	--button-outline-primary-text-hover: var(--txt-1);
	--button-positive-background: var(--green-430);
	--button-positive-background-active: var(--green-530);
	--button-positive-background-disabled: var(--green-430);
	--button-positive-background-hover: var(--green-500);
	--button-secondary-background: var(--primary-500);
	--button-secondary-background-active: var(--txt-3);
	--button-secondary-background-disabled: var(--bg-1);
	--button-secondary-background-hover: var(--bg-3);
	--card-gradient-bg: hsl(0 calc(1 * 0%) 0% / 0.4);
	--card-gradient-pressed-bg: hsl(0 calc(1 * 0%) 0% / 0.5);
	--card-primary-bg: var(--primary-600);
	--card-primary-pressed-bg: var(--primary-645);
	--card-secondary-bg: var(--primary-630);
	--card-secondary-pressed-bg: var(--primary-645);
	--channel-icon: var(--primary-400);
	--channel-text-area-placeholder: var(--primary-430);
	--channels-default: var(--txt-2);
	--channeltextarea-background: var(--bg-0);
	--chat-background: var(--primary-600);
	--chat-banner-bg: var(--primary-630);
	--chat-border: var(--primary-700);
	--chat-input-container-background: var(--primary-600);
	--chat-swipe-to-reply-background: var(--primary-660);
	--chat-swipe-to-reply-gradient-background: hsl(0 calc(1 * 0%) 0% / 0.1);
	--coachmark-bg: var(--primary-800);
	--content-inventory-media-seekbar-container: hsl(
		231 calc(1 * 6.7%) 79.4% / 0.24
	);
	--content-inventory-overlay-text-primary: hsl(0 calc(1 * 0%) 100% / 0.85);
	--content-inventory-overlay-text-secondary: hsl(0 calc(1 * 0%) 100% / 0.7);
	--content-inventory-overlay-ui-mod: hsl(0 calc(1 * 0%) 100% / 0.7);
	--content-inventory-overlay-ui-mod-bg: hsl(0 calc(1 * 0%) 0% / 0.1);
	--context-menu-backdrop-background: hsl(0 calc(1 * 0%) 0% / 0.7);
	--control-brand-foreground: var(--brand-360);
	--control-brand-foreground-new: var(--brand-360);
	--creator-revenue-icon-gradient-end: var(--teal-430);
	--creator-revenue-icon-gradient-start: var(--teal-360);
	--creator-revenue-info-box-background: hsl(190 calc(1 * 63%) 33.9% / 0.1);
	--creator-revenue-info-box-border: var(--teal-400);
	--creator-revenue-locked-channel-icon: var(--teal-345);
	--creator-revenue-progress-bar: var(--teal-400);
	--deprecated-card-bg: hsl(225 calc(1 * 6.3%) 12.5% / 0.6);
	--deprecated-card-editable-bg: hsl(225 calc(1 * 6.3%) 12.5% / 0.3);
	--deprecated-quickswitcher-input-background: var(--primary-400);
	--deprecated-quickswitcher-input-placeholder: hsl(
		0 calc(1 * 0%) 100% / 0.3
	);
	--deprecated-store-bg: var(--primary-600);
	--deprecated-text-input-bg: var(--primary-700);
	--deprecated-text-input-border: hsl(0 calc(1 * 0%) 0% / 0.3);
	--deprecated-text-input-border-disabled: var(--primary-700);
	--deprecated-text-input-border-hover: var(--primary-900);
	--deprecated-text-input-prefix: var(--primary-200);
	--display-banner-overflow-background: hsl(225 calc(1 * 6.3%) 12.5% / 0.5);
	--divider-strong: hsl(0 calc(1 * 0%) 100% / 0.16);
	--divider-subtle: hsl(0 calc(1 * 0%) 100% / 0.08);
	--embed-background: var(--primary-630);
	--embed-background-alternate: var(--primary-600);
	--embed-title: var(--primary-130);
	--expression-picker-bg: var(--primary-630);
	--focus-primary: var(--blue-345);
	--forum-post-extra-media-count-container-background: hsl(
		228 calc(1 * 6.7%) 14.7% / 0.8
	);
	--forum-post-tag-background: hsl(228 calc(1 * 6.7%) 14.7% / 0.9);
	--guild-icon-inactive-bg: var(--primary-630);
	--guild-icon-inactive-nested-bg: var(--primary-600);
	--guild-notifications-bottom-sheet-pill-background: var(--primary-700);
	--halo-positive: hsl(145 calc(1 * 65%) 39.2% / 0.24);
	--header-muted: var(--primary-360);
	--header-primary: var(--txt-1);
	--header-secondary: var(--primary-330);
	--home-background: none;
	--home-card-resting-border: hsl(0 calc(1 * 0%) 0% / 0);
	--icon-muted: var(--primary-400);
	--icon-primary: var(--primary-130);
	--icon-secondary: var(--primary-330);
	--icon-transparent: hsl(0 calc(1 * 0%) 0% / 0);
	--info-box-background: hsl(200 calc(1 * 100%) 49.4% / 0.1);
	--info-danger-background: hsl(359 calc(1 * 87.3%) 59.8% / 0.1);
	--info-danger-foreground: var(--red-400);
	--info-danger-text: var(--white-500);
	--info-help-background: hsl(200 calc(1 * 100%) 49.4% / 0.1);
	--info-help-foreground: var(--blue-345);
	--info-help-text: var(--white-500);
	--info-positive-background: hsl(145 calc(1 * 65%) 39.2% / 0.1);
	--info-positive-foreground: var(--green-360);
	--info-positive-text: var(--white-500);
	--info-warning-background: hsl(40 calc(1 * 86.4%) 56.9% / 0.1);
	--info-warning-foreground: var(--yellow-300);
	--info-warning-text: var(--white-500);
	--input-background: var(--primary-700);
	--input-focused-border: hsl(0 calc(1 * 0%) 100% / 0.16);
	--input-placeholder-text: var(--input-placeholder-text-dark);
	--interactive-active: var(--txt-1);
	--interactive-hover: var(--txt-1);
	--interactive-muted: var(--txt-3);
	--interactive-normal: var(--txt-2);
	--legacy-android-blur-overlay-default: hsl(228 calc(1 * 6.7%) 14.7% / 0.5);
	--legacy-android-blur-overlay-ultra-thin: hsl(0 calc(1 * 0%) 0% / 0.025);
	--legacy-blur-fallback-default: hsl(228 calc(1 * 6.7%) 14.7% / 0.975);
	--legacy-blur-fallback-ultra-thin: hsl(0 calc(1 * 0%) 0% / 0.95);
	--live-stage-tile-border: hsl(228 calc(1 * 6%) 32.5% / 0.6);
	--logo-primary: var(--white-500);
	--mention-background: var(--mention-bg);
	--mention-foreground: var(--mention-txt);
	--modal-background: var(--primary-600);
	--modal-footer-background: var(--primary-630);
	--navigator-header-tint: var(--white-500);
	--panel-bg: var(--primary-600);
	--polls-normal-fill-hover: var(--primary-600);
	--polls-normal-image-background: var(--primary-660);
	--polls-victor-fill: hsl(145 calc(1 * 65%) 39.2% / 0.2);
	--polls-voted-fill: hsl(235 calc(1 * 85.6%) 64.7% / 0.2);
	--profile-gradient-card-background: hsl(0 calc(1 * 0%) 0% / 0.7);
	--profile-gradient-message-input-border: hsl(228 calc(1 * 6%) 32.5% / 0.48);
	--profile-gradient-note-background: hsl(0 calc(1 * 0%) 0% / 0.3);
	--profile-gradient-overlay: hsl(0 calc(1 * 0%) 0% / 0.6);
	--profile-gradient-overlay-synced-with-user-theme: hsl(
		0 calc(1 * 0%) 0% / 0.8
	);
	--profile-gradient-profile-body-background-hover: hsl(
		0 calc(1 * 0%) 100% / 0.16
	);
	--profile-gradient-role-pill-background: hsl(
		228 calc(1 * 6.7%) 14.7% / 0.5
	);
	--profile-gradient-role-pill-border: hsl(0 calc(1 * 0%) 100% / 0.2);
	--profile-gradient-section-box: hsl(0 calc(1 * 0%) 0% / 0.45);
	--redesign-activity-card-background: var(--primary-560);
	--redesign-activity-card-background-pressed: var(--primary-630);
	--redesign-activity-card-badge-icon: var(--primary-360);
	--redesign-activity-card-border: hsl(0 calc(1 * 0%) 100% / 0.02);
	--redesign-activity-card-overflow-background: var(--primary-630);
	--redesign-button-active-background: var(--green-430);
	--redesign-button-active-pressed-background: var(--green-460);
	--redesign-button-active-text: var(--white-500);
	--redesign-button-danger-background: var(--red-430);
	--redesign-button-danger-pressed-background: var(--red-460);
	--redesign-button-danger-text: var(--white-500);
	--redesign-button-destructive-background: var(--red-430);
	--redesign-button-destructive-pressed-background: var(--red-460);
	--redesign-button-destructive-text: var(--white-500);
	--redesign-button-overlay-alpha-background: hsl(0 calc(1 * 0%) 0% / 0.54);
	--redesign-button-overlay-alpha-pressed-background: hsl(
		0 calc(1 * 0%) 0% / 0.64
	);
	--redesign-button-overlay-alpha-text: var(--white-500);
	--redesign-button-overlay-background: var(--white-500);
	--redesign-button-overlay-pressed-background: var(--primary-230);
	--redesign-button-overlay-text: var(--primary-860);
	--redesign-button-positive-background: var(--green-430);
	--redesign-button-positive-pressed-background: var(--green-460);
	--redesign-button-positive-text: var(--white-500);
	--redesign-button-primary-alt-background: hsl(
		235 calc(1 * 85.6%) 64.7% / 0
	);
	--redesign-button-primary-alt-border: var(--brand-360);
	--redesign-button-primary-alt-on-blurple-background: hsl(
		235 calc(1 * 66.7%) 58.8% / 0
	);
	--redesign-button-primary-alt-on-blurple-border: var(--white-500);
	--redesign-button-primary-alt-on-blurple-pressed-background: var(
		--brand-530
	);
	--redesign-button-primary-alt-on-blurple-pressed-border: var(--brand-360);
	--redesign-button-primary-alt-on-blurple-text: var(--white-500);
	--redesign-button-primary-alt-pressed-background: hsl(
		235 calc(1 * 47%) 25.9% / 0.16
	);
	--redesign-button-primary-alt-pressed-border: hsl(
		235 calc(1 * 86.1%) 71.8% / 0.5
	);
	--redesign-button-primary-alt-pressed-text: var(--brand-360);
	--redesign-button-primary-alt-text: var(--brand-360);
	--redesign-button-primary-background: var(--brand-500);
	--redesign-button-primary-on-blurple-pressed-text: var(--brand-530);
	--redesign-button-primary-overlay-background: var(--white-500);
	--redesign-button-primary-overlay-pressed-background: var(--primary-230);
	--redesign-button-primary-overlay-text: var(--primary-860);
	--redesign-button-primary-pressed-background: var(--brand-560);
	--redesign-button-primary-text: var(--white-500);
	--redesign-button-secondary-background: var(--primary-460);
	--redesign-button-secondary-border: hsl(0 calc(1 * 0%) 100% / 0.08);
	--redesign-button-secondary-overlay-background: hsl(
		0 calc(1 * 0%) 0% / 0.54
	);
	--redesign-button-secondary-overlay-pressed-background: hsl(
		0 calc(1 * 0%) 0% / 0.64
	);
	--redesign-button-secondary-overlay-text: var(--white-500);
	--redesign-button-secondary-pressed-background: var(--primary-500);
	--redesign-button-secondary-pressed-border: hsl(0 calc(1 * 0%) 0% / 0);
	--redesign-button-secondary-text: var(--primary-230);
	--redesign-button-selected-background: hsl(
		235 calc(1 * 85.6%) 64.7% / 0.24
	);
	--redesign-button-selected-pressed-background: hsl(
		235 calc(1 * 85.6%) 64.7% / 0.28
	);
	--redesign-button-selected-text: var(--brand-500);
	--redesign-button-tertiary-background: var(--primary-660);
	--redesign-button-tertiary-pressed-background: var(--primary-560);
	--redesign-button-tertiary-pressed-text: var(--primary-330);
	--redesign-button-tertiary-text: var(--primary-230);
	--redesign-channel-category-name-text: var(--primary-330);
	--redesign-channel-message-preview-text: var(--primary-360);
	--redesign-channel-name-muted-text: var(--primary-360);
	--redesign-channel-name-text: var(--primary-130);
	--redesign-chat-input-background: var(--primary-700);
	--redesign-image-button-pressed-background: hsl(0 calc(1 * 0%) 0% / 0.08);
	--redesign-input-control-active-bg: var(--primary-645);
	--redesign-input-control-selected: var(--brand-500);
	--redesign-only-background-active: var(--primary-530);
	--redesign-only-background-default: var(--primary-600);
	--redesign-only-background-overlay: var(--primary-645);
	--redesign-only-background-raised: var(--primary-630);
	--redesign-only-background-sunken: var(--primary-660);
	--scrollbar-auto-scrollbar-color-thumb: var(--primary-730);
	--scrollbar-auto-scrollbar-color-track: var(--primary-630);
	--scrollbar-auto-thumb: var(--bg-1);
	--scrollbar-auto-track: transparent;
	--scrollbar-thin-thumb: var(--bg-1);
	--scrollbar-thin-track: transparent;
	--spoiler-hidden-background: var(--primary-700);
	--spoiler-revealed-background: var(--primary-660);
	--stage-card-pill-bg: var(--primary-630);
	--status-danger: var(--pink);
	--status-danger-background: var(--red-430);
	--status-danger-text: var(--white-500);
	--status-dnd: var(--red-400);
	--status-idle: var(--yellow-300);
	--status-offline: var(--primary-360);
	--status-online: var(--green-360);
	--status-positive: var(--green-360);
	--status-positive-background: var(--green-430);
	--status-positive-text: var(--white-500);
	--status-speaking: var(--green-360);
	--status-warning: var(--yellow-300);
	--status-warning-background: var(--yellow-300);
	--status-warning-text: var(--black-500);
	--text-brand: var(--brand-360);
	--text-danger: var(--red-345);
	--text-link: var(--txt-link);
	--text-link-low-saturation: var(--blue-330);
	--text-low-contrast: var(--primary-360);
	--text-message-preview-low-sat: var(--primary-360);
	--text-muted: var(--txt-3);
	--text-muted-on-default: var(--primary-330);
	--text-normal: var(--txt-1);
	--text-positive: var(--green);
	--text-primary: var(--primary-230);
	--text-secondary: var(--primary-330);
	--text-warning: var(--yellow-300);
	--textbox-markdown-syntax: var(--primary-360);
	--theme-locked-blur-fallback: hsl(225 calc(1 * 6.3%) 12.5% / 0.96);
	--thread-channel-spine: var(--primary-500);
	--toast-bg: var(--primary-800);
	--typing-indicator-bg: var(--primary-630);
	--user-profile-header-overflow-background: hsl(
		225 calc(1 * 6.3%) 12.5% / 0.5
	);
	--voice-video-video-tile-background: hsl(233 calc(1 * 9.3%) 19% / 0.4);
	--voice-video-video-tile-blur-fallback: hsl(
		225 calc(1 * 6.3%) 12.5% / 0.48
	);
	--white: var(--txt-0);
	--you-bar-bg: var(--primary-800);

	--elevation-low: none;

	--brand-500: var(--purple);
	--brand-530: var(--purple);
	--brand-560: var(--purple-1);
	--brand-600: var(--purple-2);

	--primary-500: var(--bg-2);

	--white-500: var(--txt-dark);

	--red-400: var(--pink);
	--red-430: var(--pink);
	--red-460: var(--pink-1);
	--red-530: var(--pink);

	--green-360: var(--green);
	--green-430: var(--green);

	--yellow-360: var(--yellow);
}
