/**
 * @name system24 (spicetify text theme)
 * @description A tui-style discord theme. Settings configured to match the spicetify text theme.
 * @author refact0r
 * @version 1.0.0
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/system24
 * @source https://github.com/refact0r/system24/blob/master/flavors/text.theme.css 
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

@import url('https://refact0r.github.io/system24/system24.css');

/* customize things here */
:root {
	--font: 'DM Mono';
	letter-spacing: 0;
	font-weight: 400;
	--label-font-weight: 400;

	--corner-text: 'system24';

	--pad: 16px;
	--txt-pad: 10px;

	--bg-0: hsl(0, 0%, 7%);
	--bg-1: hsl(0, 0%, 10%);
	--bg-2: hsl(0, 0%, 13%);
	--bg-3: hsl(0, 0%, 16%);

	--hover: hsla(0, 0%, 40%, 0.1);
	--active: hsla(0, 0%, 40%, 0.2);
	--selected: var(--active);

	--txt-dark: var(--bg-0);
	--txt-link: var(--cyan);
	--txt-0: hsl(0, 0%, 100%);
	--txt-1: hsl(0, 0%, 70%);
	--txt-2: hsl(0, 0%, 50%);
	--txt-3: hsl(0, 0%, 30%);

	--acc-0: #1ed760;
	--acc-1: #1db954;
	--acc-2: var(--purple-2);

	--border-width: 1px;
	--border-color: #535353;
	--border-hover-color: #1ed760;
	--border-transition: 0.2s ease;

	--online-dot: var(--green);
	--dnd-dot: var(--pink);
	--idle-dot: var(--yellow);
	--streaming-dot: var(--purple);

	--mention-txt: var(--acc-0);
	--mention-bg: color-mix(in oklch, var(--acc-0), transparent 90%);
	--mention-overlay: color-mix(in oklch, var(--acc-0), transparent 90%);
	--mention-hover-overlay: color-mix(in oklch, var(--acc-0), transparent 95%);
	--reply-overlay: var(--active);
	--reply-hover-overlay: var(--hover);

	--pink: oklch(73% 0.12 0);
	--pink-1: oklch(63% 0.12 0);
	--pink-2: oklch(53% 0.12 0);
	--purple: oklch(73% 0.12 300);
	--purple-1: oklch(63% 0.12 300);
	--purple-2: oklch(53% 0.12 300);
	--cyan: oklch(73% 0.12 200);
	--yellow: oklch(78% 0.12 80);
	--green: oklch(73% 0.12 160);
}
