@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.cdnfonts.com/css/asciid');

body {
    --custom-chatbar: separated !important; /* off: default chatbar, aligned: chatbar aligned with the user panel, separated: chatbar separated from chat */
    --chatbar-height: 56px !important; /* height of the chatbar (52px by default, 47px recommended for aligned, 56px recommended for separated) */
}

.visual-refresh {
    .bg__960e4 {
        background: var(--bg-base-primary);
    }
    .container__01ae2 {
        padding-left: 0 !important;
        background-color: var(--bg-base-primary);
    }
    .form_f75fb0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
