body {
    --label-color: var(--text-muted);
    --label-hover-color: var(--brand-360);
    --label-font-weight: 500;
}

@property --panel-labels {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

@container body style(--panel-labels: on) {
    .visual-refresh {
        ._5e434347c823b592-guilds,
        ._5e434347c823b592-panels,
        ._5e434347c823b592-sidebarList,
        .f75fb00fb7356cbe-subtitleContainer,
        ._36d072eab2b2e737-messagesWrapper,
        .f75fb00fb7356cbe-channelTextArea,
        .f75fb00fb7356cbe-content > .c8ffbb79449f399c-membersWrap,
        .c8ffbb79449f399c-container,
        ._133bf5eea8e33a34-container > ._9293f6b2fc12398a-container,
        ._133bf5eea8e33a34-peopleColumn,
        ._133bf5eea8e33a34-nowPlayingColumn,
        ._01ae244280823725-container > ._9293f6b2fc12398a-container,
        .cb9592ad77576717-callContainer {
            &::after {
                display: block;
                color: var(--label-color);
                font-weight: var(--label-font-weight);
                position: absolute;
                top: -10px;
                left: 8px;
                background-color: var(--background-base-low);
                padding: 0 4px;
                z-index: 100;
                font-size: 16px;
                transition: color var(--border-hover-transition);
            }

            &:hover::after {
                color: var(--label-hover-color);
            }
        }

        ._5e434347c823b592-guilds::after {
            content: 'nav';
        }
        ._5e434347c823b592-panels::after {
            content: 'user';
        }
        ._5e434347c823b592-sidebarList::after {
            content: 'channels';
        }
        .f75fb00fb7356cbe-subtitleContainer::after {
            content: 'channel';
        }
        ._36d072eab2b2e737-messagesWrapper::after {
            content: 'chat';
        }
        .f75fb00fb7356cbe-channelTextArea::after {
            content: 'input';
        }
        .c8ffbb79449f399c-container::after,
        .f75fb00fb7356cbe-content > .c8ffbb79449f399c-membersWrap::after {
            content: 'members';
        }
        ._133bf5eea8e33a34-container > ._9293f6b2fc12398a-container:after {
            content: 'friends';
        }
        ._133bf5eea8e33a34-peopleColumn::after {
            content: 'list';
        }
        ._133bf5eea8e33a34-nowPlayingColumn::after {
            content: 'activity';
        }
        ._01ae244280823725-container > ._9293f6b2fc12398a-container::after {
            content: 'thread';
        }
        .cb9592ad77576717-callContainer::after {
            content: 'vc';
        }

        .f75fb00fb7356cbe-content > .c8ffbb79449f399c-membersWrap,
        ._5e434347c823b592-panels,
        ._5e434347c823b592-sidebar,
        ._5e434347c823b592-sidebarList,
        .f75fb00fb7356cbe-chat,
        ._5e434347c823b592-page,
        .f75fb00fb7356cbe-channelTextArea,
        ._133bf5eea8e33a34-container,
        .c8ffbb79449f399c-container,
        ._5e434347c823b592-guilds,
        ._133bf5eea8e33a34-peopleColumn,
        ._133bf5eea8e33a34-tabBody,
        ._01ae244280823725-container,
        .f75fb00fb7356cbe-chatContent,
        ._36d072eab2b2e737-messagesWrapper {
            overflow: visible !important;
        }
        ._5e434347c823b592-page,
        ._133bf5eea8e33a34-tabBody {
            min-height: 0;
        }
        ._133bf5eea8e33a34-peopleColumn {
            min-width: 0;
        }
        ._5e434347c823b592-sidebarList,
        .c8ffbb79449f399c-container,
        ._133bf5eea8e33a34-peopleColumn,
        ._133bf5eea8e33a34-nowPlayingColumn,
        ._36d072eab2b2e737-messagesWrapper,
        .f75fb00fb7356cbe-channelTextArea {
            position: relative;
        }

        ._36d072eab2b2e737-scroller {
            top: 8px;
        }
        .c8ffbb79449f399c-membersWrap {
            height: calc(100% - 8px);
        }

        .ef3116c2da186559-scroller {
            padding-top: calc(var(--custom-guild-list-padding) - 8px);
        }

        .f37cb1984c371ee5-animatedContainer,
        .f37cb1984c371ee5-headerGlass {
            left: 8px;
            right: 8px;
            width: auto;
        }
        .f37cb1984c371ee5-header {
            margin: 0 8px;
        }
        ._2637a2609f343032-container {
            overflow: hidden;
        }

        .f37cb1984c371ee5-headerEllipseForeground {
            display: none;
        }

        .cb9592ad77576717-callContainer {
            padding: 8px;
        }

        ._36d072eab2b2e737-messagesWrapper {
            mask: none !important;
        }
    }
}
