@property --unrounding {
    syntax: 'on | off';
    inherits: false;
    initial-value: on;
}

@container body style(--unrounding: on) {
    *,
    *::before,
    *::after {
        border-radius: 0 !important;
    }

    .svg_cc5dd2 > mask,
    .svg__44b0c > rect,
    .svg__44b0c > circle,
    .svg__44b0c rect[mask='url(#:rhi:)'],
    .avatar__20a53 .status_a423bd {
        display: none;
    }

    .mask__68edb > foreignObject,
    .svg__44b0c > foreignObject,
    .svg__2338f > foreignObject {
        mask: none;
    }

    .wrapper__44b0c,
    .container__1ce5d {
        --online-2: #40a258;
        --dnd-2: #d83a41;
        --idle-2: #cc954c;
        --offline-2: #82838b;
        --streaming-2: #9147ff;
    }
    .wrapper__44b0c:has(rect)::after,
    .container__1ce5d:has(.status_a423bd)::after {
        content: '';
        display: block;
        position: absolute;
        height: 8px;
        width: 8px;
        bottom: -4px;
        right: -4px;
        border: 2px solid var(--background-base-lower);
    }
    .wrapper__44b0c:has(rect[fill='#40a258'])::after,
    .container__1ce5d:has(.status_a423bd[style='background-color: rgb(64, 162, 88);'])::after {
        background: var(--online-2) !important;
    }
    .wrapper__44b0c:has(rect[fill='#d83a41'])::after {
        background: var(--dnd-2) !important;
    }
    .wrapper__44b0c:has(rect[fill='#cc954c'])::after {
        background: var(--idle-2) !important;
    }
    .wrapper__44b0c:has(rect[fill='#82838b'])::after {
        background: var(--offline-2) !important;
    }
    .wrapper__44b0c:has(rect[fill='#9147ff'])::after {
        background: var(--streaming-2);
    }

    .lowerBadge_cc5dd2 {
        border: 2px solid var(--background-base-lower);
        bottom: -4px;
        right: -4px;
    }
    .upperBadge_cc5dd2 {
        border: 2px solid var(--background-base-lower);
        top: -4px;
        right: -4px;
    }
}
